.main-404 {
  background-color: #88efc8;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-404 {
  text-align: center;
  h2 {
    margin: 40px 0;
    font-size: 30px;
    font-weight: bold;
  }
  .images {
    display: flex;
    justify-content: center;
    align-items: center;
    & > img {
      width: 600px;
      max-width: 80%;
    }
  }
  h4 {
    margin: 40px 0 20px;
    font-size: 15px;
    font-weight: bold;
  }
  .btn-backHome {
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #637eff;
    cursor: pointer;
    font-weight: 500;
    outline: none;
    border: none;
    font-size: 16px;
    position: relative;
    isolation: isolate;
    &::before {
      content: '';
      height: 0;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #ff9138;
      z-index: -1;
      border-radius: 4px;
      transition: height 0.25s ease-in;
    }
    &:hover::before {
      height: 100%;
    }
  }
}
