*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}
.header .navbar-collapse {
  flex-direction: row-reverse;
}
.header .navbar-collapse .nav-item {
  position: relative;
}
.header .navbar-collapse .nav-item.active::after {
  width: 100%;
}
.header .navbar-collapse .nav-item:hover::after {
  width: 100%;
}
.header .navbar-collapse .nav-item::after {
  content: "";
  width: 0;
  height: 3px;
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  position: absolute;
  bottom: -1px;
  left: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.header .navbar-collapse .nav-item .nav-link {
  font-size: 16px;
  font-weight: 500;
  color: #9b9b9b;
  padding: 0 20px 10px;
  font-family: "Poppins", sans-serif;
}
.header .img-avatar {
  width: 30px;
  margin-right: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.header .user .logout {
  background: #959595;
  position: absolute;
  bottom: -70px;
  right: 0;
  display: none;
  text-align: center;
  padding-bottom: 10px;
}
.header .user .logout:before {
  content: "";
  position: absolute;
  top: 0;
  background: #fbbd61;
  width: 30px;
  height: 3px;
  left: 0;
}
.header .user .logout .profile a {
  color: #fff;
  text-decoration: none;
}
.header .user:hover .logout {
  display: block;
}
.header .user .btn-logout {
  color: #fff;
  width: 145px;
  z-index: 1000;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.header .navbar-light .navbar-nav .nav-link:focus,
.header .navbar-light .navbar-nav .nav-link:hover,
.header .navbar-light .navbar-nav .nav-link.active {
  color: #ec7532;
}

.f-infor-bottom img {
  width: 55%;
}

.footer-inner {
  font-family: "Poppins", sans-serif;
  background: url(../../images/backapp.jpg) no-repeat center;
  background-size: cover;
  padding: 120px 0px;
}
.footer-inner .footer-left {
  padding-top: 60px;
  color: #fff;
}
.footer-inner .footer-left .ttl-2 {
  color: #fff;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 30px;
}
.footer-inner .footer-left .btn-dowload {
  margin: 30px 0;
}
.footer-inner .footer-left .txt-update a {
  color: #fff;
  text-decoration: none;
}
.footer-inner .footer-left .txt-update a:hover {
  color: #ec7532;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
}
.footer-inner .footer-right {
  position: relative;
  text-align: center;
}
.footer-inner .footer-right .img-wrap {
  width: 44%;
  margin-left: 150px;
  height: auto;
  overflow: hidden;
  position: relative;
}
.footer-inner .footer-right .app-img {
  position: absolute;
  left: 30%;
  bottom: -20%;
  top: 1%;
  width: 40%;
  text-align: center;
}
.footer-inner .footer-right .app-img img {
  height: auto;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

/*! Lity - v2.4.1 - 2020-04-26
* http://sorgalla.com/lity/
* Copyright (c) 2015-2020 Jan Sorgalla; Licensed MIT */
.lity {
  z-index: 10000000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  background: #0b0b0b;
  background: rgba(0, 0, 0, 0.9);
  outline: none !important;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.lity.lity-opened {
  opacity: 1;
}

.lity.lity-closed {
  opacity: 0;
}

.lity * {
  box-sizing: border-box;
}

.lity-wrap {
  z-index: 9990;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  outline: none !important;
}

.lity-wrap:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.lity-loader {
  z-index: 9991;
  color: #fff;
  position: absolute;
  top: 50%;
  margin-top: -0.8em;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.lity-loading .lity-loader {
  opacity: 1;
}

.lity-container {
  z-index: 9992;
  position: relative;
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  white-space: normal;
  max-width: 100%;
  max-height: 100%;
  outline: none !important;
}

.lity-content {
  z-index: 9993;
  width: 100%;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.lity-loading .lity-content,
.lity-closed .lity-content {
  transform: scale(0.8);
}

.lity-content:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.lity-close {
  z-index: 9994;
  width: 35px;
  height: 35px;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-appearance: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 0;
  color: #fff;
  font-style: normal;
  font-size: 35px;
  font-family: Arial, Baskerville, monospace;
  line-height: 35px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  border: 0;
  background: none;
  outline: none;
  box-shadow: none;
}

.lity-close::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.lity-close:hover,
.lity-close:focus,
.lity-close:active,
.lity-close:visited {
  text-decoration: none;
  text-align: center;
  padding: 0;
  color: #fff;
  font-style: normal;
  font-size: 35px;
  font-family: Arial, Baskerville, monospace;
  line-height: 35px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  border: 0;
  background: none;
  outline: none;
  box-shadow: none;
}

.lity-close:active {
  top: 1px;
}

/* Image */
.lity-image img {
  max-width: 100%;
  display: block;
  line-height: 0;
  border: 0;
}

/* iFrame */
.lity-iframe .lity-container,
.lity-youtube .lity-container,
.lity-vimeo .lity-container,
.lity-facebookvideo .lity-container,
.lity-googlemaps .lity-container {
  width: 100%;
  max-width: 964px;
}

.lity-iframe-container {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  overflow: auto;
  pointer-events: auto;
  transform: translateZ(0);
  -webkit-overflow-scrolling: touch;
}

.lity-iframe-container iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

.lity-hide {
  display: none;
}

/*# sourceMappingURL=lity.css.map */
.wrapper {
  background-color: #ff7f2e;
  font-family: "Concert One", cursive;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.text {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgba(19, 36, 44, 0.3);
  font-size: 30em;
  text-align: center;
  top: 40%;
}

.containers {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 500px;
}
.containers:after {
  position: absolute;
  content: "";
  background-color: rgba(19, 36, 44, 0.1);
  border-radius: 12px;
  bottom: 40px;
  height: 12px;
  left: 80px;
  width: 350px;
  z-index: -1;
}

.caveman {
  height: 300px;
  position: absolute;
  width: 250px;
}

.caveman:nth-child(1) {
  right: 20px;
}

.caveman:nth-child(2) {
  left: 20px;
  transform: rotateY(180deg);
}

.head {
  position: absolute;
  background-color: #13242c;
  border-radius: 50px;
  height: 140px;
  left: 60px;
  top: 25px;
  width: 65px;
}
.head:after, .head:before {
  content: "";
  position: absolute;
  background-color: #13242c;
  border-radius: 10px;
  height: 20px;
  width: 7px;
}
.head:after {
  left: 35px;
  top: -8px;
  transform: rotate(20deg);
}
.head:before {
  left: 30px;
  top: -8px;
  transform: rotate(-20deg);
}
.head .eye {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  background-color: #eab08c;
  border-radius: 50px;
  height: 16px;
  left: 45%;
  top: 40px;
  width: 48px;
}
.head .eye:after, .head .eye:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #13242c;
  border-radius: 50%;
  height: 5px;
  width: 5px;
}
.head .eye:after {
  left: 5px;
}
.head .eye:before {
  right: 9px;
}
.head .eye .nose {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #d9766c;
  border-left: 8px solid rgba(19, 36, 44, 0.1);
  border-radius: 10px;
  box-sizing: border-box;
  height: 35px;
  left: 45%;
  top: 12px;
  width: 15px;
}

.shape {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  border-radius: 50%;
  height: 140px;
  overflow: hidden;
  top: 70px;
  width: 140px;
}
.shape .circle {
  position: absolute;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}
.shape .circle:after, .shape .circle:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
.shape .circle:after {
  left: 50px;
  top: 10px;
}
.shape .circle:before {
  left: 60px;
  top: 45px;
}
.shape .circle:nth-child(1) {
  left: -12px;
  top: 80px;
}
.shape .circle:nth-child(2) {
  right: 10px;
  top: 0px;
  transform: rotate(90deg);
}
.shape .circle:nth-child(2):after {
  left: 65px;
  top: 10px;
}
.shape .circle:nth-child(2):before {
  display: none;
}

.caveman:nth-child(1) .shape {
  background-color: #d13433;
}
.caveman:nth-child(1) .shape .circle {
  background-color: #932422;
}
.caveman:nth-child(1) .shape .circle:after, .caveman:nth-child(1) .shape .circle:before {
  background-color: #932422;
}

.caveman:nth-child(2) .shape {
  background-color: #932422;
}
.caveman:nth-child(2) .shape .circle {
  background-color: #d13433;
}
.caveman:nth-child(2) .shape .circle:after, .caveman:nth-child(2) .shape .circle:before {
  background-color: #d13433;
}

.arm-right {
  position: absolute;
  background-color: #eab08c;
  border-left: 8px solid rgba(19, 36, 44, 0.1);
  border-radius: 50px;
  box-sizing: border-box;
  height: 180px;
  left: 135px;
  top: 80px;
  transform-origin: 30px 30px;
  width: 60px;
  z-index: 1;
}
.arm-right .club {
  position: absolute;
  border-bottom: 110px solid #601513;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: 0;
  left: -60px;
  top: 120px;
  transform: rotate(70deg);
  width: 20px;
}
.arm-right .club:after, .arm-right .club:before {
  position: absolute;
  content: "";
  background-color: #601513;
  border-radius: 50%;
  left: 0;
}
.arm-right .club:after {
  height: 20px;
  width: 20px;
  top: -10px;
}
.arm-right .club:before {
  height: 40px;
  width: 40px;
  left: -10px;
  top: 90px;
}

.leg {
  position: absolute;
  border-radius: 10px;
  height: 55px;
  top: 200px;
  width: 10px;
}
.leg:after {
  position: absolute;
  content: "";
  border-radius: 50%;
  height: 10px;
  left: -5px;
  top: 15px;
  width: 10px;
}
.leg .foot {
  position: absolute;
  border-radius: 25px 25px 0 0;
  height: 25px;
  left: -38px;
  top: 30px;
  width: 50px;
}
.leg .foot:after, .leg .foot:before,
.leg .foot .fingers,
.leg .foot .fingers:after {
  position: absolute;
  background-color: #eab08c;
  border-radius: 50%;
  bottom: 0px;
  height: 15px;
  transform-origin: bottom;
  width: 15px;
}
.leg .foot:after {
  left: -6px;
  content: "";
}
.leg .foot:before {
  left: 8px;
  transform: scale(0.6);
  content: "";
}
.leg .foot .fingers {
  left: 15px;
  transform: scale(0.6);
}
.leg .foot .fingers:after {
  left: 11px;
  content: "";
}

.leg:nth-child(1) {
  background-color: #b2524d;
  left: 95px;
}
.leg:nth-child(1):after {
  background-color: #b2524d;
}
.leg:nth-child(1) .foot {
  background-color: #b2524d;
}
.leg:nth-child(1) .foot:after {
  background-color: #b2524d;
}
.leg:nth-child(1) .foot:before {
  display: none;
}

.leg:nth-child(2) {
  background-color: #d9766c;
  left: 115px;
}
.leg:nth-child(2):after {
  background-color: #d9766c;
}
.leg:nth-child(2) .foot {
  background-color: #d9766c;
}

/*/////////////////// animation */
.caveman:nth-child(1) .arm-right {
  animation: arm-anima 1.2s infinite cubic-bezier(0.55, 0.01, 0.16, 1.34);
}

.caveman:nth-child(2) .arm-right {
  animation: arm-anima 1.2s infinite cubic-bezier(0.55, 0.01, 0.16, 1.34);
  animation-delay: 0.6s;
}

@keyframes arm-anima {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.caveman:nth-child(2) .head {
  animation: head-anima 1.2s infinite cubic-bezier(0.55, 0.01, 0.16, 1.34);
}

.caveman:nth-child(1) .head {
  animation: head-anima 1.2s infinite cubic-bezier(0.55, 0.01, 0.16, 1.34);
  animation-delay: 0.6s;
}

@keyframes head-anima {
  0% {
    top: 25px;
  }
  42% {
    top: 25px;
  }
  45% {
    top: 50px;
  }
  100% {
    top: 25px;
  }
}
.caveman:nth-child(2) .eye:after,
.caveman:nth-child(2) .eye:before {
  animation: eye-anima 1.2s infinite cubic-bezier(0.55, 0.01, 0.16, 1.34);
}

.caveman:nth-child(1) .eye:after,
.caveman:nth-child(1) .eye:before {
  animation: eye-anima 1.2s infinite cubic-bezier(0.55, 0.01, 0.16, 1.34);
  animation-delay: 0.6s;
}

@keyframes eye-anima {
  0% {
    height: 5px;
  }
  42% {
    height: 5px;
  }
  45% {
    height: 1px;
  }
  100% {
    height: 5px;
  }
}
.containers:after {
  animation: shadow-anima 1.2s infinite cubic-bezier(0.55, 0.01, 0.16, 1.34);
  animation-delay: 0.1s;
}

@keyframes shadow-anima {
  0% {
    width: 350px;
    left: 80px;
  }
  25% {
    width: 450px;
    left: 80px;
  }
  50% {
    width: 350px;
    left: 80px;
  }
  75% {
    width: 450px;
    left: 0px;
  }
  100% {
    width: 350px;
    left: 80px;
  }
}
/*/////////////////////// credit ////*/
#link {
  bottom: 20px;
  color: #000;
  opacity: 0.2;
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#link p {
  margin: 0;
  margin-left: 5px;
}

#link:hover {
  opacity: 1;
}

.slider-home {
  margin-top: 78px;
}
.slider-home .carousel-item-ow {
  position: relative;
}
.slider-home .carousel-item-ow img {
  width: 100%;
}
.slider-home .slick-prev {
  left: 30px;
  z-index: 999;
}
.slider-home .slick-prev:before {
  font-size: 35px;
}
.slider-home .slick-next {
  right: 30px;
}
.slider-home .slick-next:before {
  font-size: 35px;
}
.slider-home .slick-dots {
  bottom: 90px;
  z-index: 999;
}
.slider-home .slick-dots li {
  margin: 0 1px;
}
.slider-home .slick-dots li.slick-active button:before {
  color: #ec7532;
  font-size: 14px;
}
.slider-home .slick-dots li button:before {
  color: #fff;
  font-size: 12px;
  opacity: 1;
}
.slider-home .video-play-slider {
  width: 80px;
  height: 80px;
  font-size: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  line-height: 80px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
}

.search-home {
  font-family: "Poppins", sans-serif;
  transform: translateY(-60%);
  position: relative;
}
.search-home .form-search {
  background: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  display: flex;
  border-radius: 10px;
  margin: 0 -10px;
}
.search-home .form-search .select-item {
  border-right: 1px solid #b7b7a4;
}
.search-home .form-search .select-item:last-child {
  border-right: none;
}
.search-home .form-search select {
  background: transparent;
  border: none;
  padding: 25px;
  font-size: 15px;
  min-width: 200px;
  color: #4a4a4a;
  font-weight: 500;
}
.search-home .form-search .item-booking {
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-home .form-search .btn-booking {
  background: linear-gradient(270deg, #fb4226, #ce3017);
  color: #fff;
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
}

.btn-all {
  font-family: "Poppins", sans-serif;
  color: #ec7532;
  text-transform: uppercase;
}
.btn-all.active {
  background: linear-gradient(to left, #f12711, #f5af19);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  padding: 10px 25px;
  color: #fff;
  font-weight: 600;
}

.btn-all-one {
  background: linear-gradient(to left, #f12711, #f5af19);
  font-family: "Poppins", sans-serif;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  padding: 10px 25px;
  color: #fff;
  font-weight: 600;
}
.btn-all-one:hover {
  color: #fff;
  text-transform: all ease 0.5s;
}

.listmovie {
  padding: 0 100px;
  margin-bottom: 80px;
}
.listmovie .slick-prev {
  left: -90px;
}
.listmovie .slick-prev::before {
  color: #ec7532;
  font-size: 45px;
  font-weight: 700;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
}
.listmovie .slick-next {
  right: -60px;
}
.listmovie .slick-next::before {
  color: #ec7532;
  font-size: 45px;
  font-weight: 700;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
}
.listmovie .slick-list {
  margin: 0 -20px;
}
.listmovie .nav-pills {
  border-bottom: none;
  justify-content: center;
  margin-bottom: 30px;
}

.content-show .movie-item {
  padding: 10px;
  font-family: "Poppins", sans-serif;
}
.content-show .movie-item:hover .movie-img {
  box-shadow: none;
}
.content-show .movie-item:hover .movie-img .icon-play {
  opacity: 1;
  cursor: pointer;
}
.content-show .movie-item:hover .movie-info .btn-buyticket {
  visibility: visible;
  cursor: pointer;
}
.content-show .movie-item:hover .movie-img .overlay {
  opacity: 1;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
}
.content-show .movie-item .movie-img {
  position: relative;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.content-show .movie-item .movie-img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.content-show .movie-item .movie-img .icon-play {
  opacity: 0;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
}
.content-show .movie-item .movie-img .icon-play i {
  color: #fbbd61;
  border: 2px solid #fbbd61;
  padding: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.content-show .movie-item .movie-img .review {
  position: absolute;
  top: 3%;
  right: 5%;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  z-index: 1;
  font-size: 16px;
  font-weight: 700;
  color: #ec7532;
}
.content-show .movie-item .movie-img .review .icon-start {
  color: #fbbd61;
}
.content-show .movie-item .movie-img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.content-show .movie-item .movie-info {
  padding-top: 10px;
  position: relative;
}
.content-show .movie-item .movie-info .namemovie {
  font-weight: 600;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.content-show .movie-item .movie-info .timeshow {
  font-size: 13px;
  font-weight: 400;
  color: #4a4a4a;
}
.content-show .movie-item .movie-info .btn-buyticket {
  background: linear-gradient(to right, #fdc830, #f37335);
  color: #fff;
  padding: 10px 25px;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  margin-top: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.content-show .movie-item .movie-info .btn-buyticket:hover .icon-down {
  animation: arrowY 1s infinite;
  -webkit-animation: arrowY 1s infinite;
}
.content-show .movie-item .movie-info .btn-buyticket .fa-arrow-circle-down {
  margin-left: 15px;
}
.content-show .movieComing {
  padding: 10px;
}
.content-show .movieComing:hover .movie-img {
  box-shadow: none;
}
.content-show .movieComing:hover .movie-img .icon-play {
  opacity: 1;
  cursor: pointer;
}
.content-show .movieComing:hover .movie-info .btn-buyticket {
  visibility: visible;
  cursor: pointer;
}
.content-show .movieComing:hover .movie-img .overlay {
  opacity: 1;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
}
.content-show .movieComing .movie-img {
  position: relative;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.content-show .movieComing .movie-img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.content-show .movieComing .movie-img .icon-play {
  opacity: 0;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
}
.content-show .movieComing .movie-img .icon-play i {
  color: #fbbd61;
  border: 2px solid #fbbd61;
  padding: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.content-show .movieComing .movie-img .review {
  position: absolute;
  top: 3%;
  right: 5%;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  z-index: 1;
  font-size: 16px;
  font-weight: 700;
  color: #ec7532;
}
.content-show .movieComing .movie-img .review .icon-start {
  color: #fbbd61;
}
.content-show .movieComing .movie-img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.content-show .movieComing .movie-info {
  padding-top: 10px;
  position: relative;
}
.content-show .movieComing .movie-info .namemovie {
  font-weight: 600;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.content-show .movieComing .movie-info .timeshow {
  font-size: 13px;
  font-weight: 400;
  color: #4a4a4a;
}
.content-show .movieComing .movie-info .btn-buyticket {
  display: none;
}

p {
  margin-bottom: 0px;
}

a:hover {
  text-decoration: none;
}

@keyframes arrowY {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
  25% {
    transform: translateY(3px);
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -o-transform: translateY(3px);
  }
  50% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
  75% {
    transform: translateY(3px);
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -o-transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}
.cinema-block .sroll-tab {
  max-height: 650px;
  height: 650px;
  overflow-y: auto;
}
.cinema-block .sroll-tab .nav-link {
  opacity: 0.5;
}
.cinema-block .sroll-tab .nav-link.active {
  opacity: 1;
}
.cinema-block .tab-content-bl {
  border-left: 1px solid #dee2e6;
  padding: 0 20px;
}
.cinema-block .tab-content-bl.scroll-tab {
  overflow-y: auto;
  height: 650px;
  max-height: 650px;
}
.cinema-block .showtime-theater {
  padding: 0;
}
.cinema-block .cinema-inner {
  border: 1px solid #dee2e6;
  padding-left: 10px;
  margin-bottom: 80px;
}
.cinema-block .cinema-inner .nav-link {
  background-color: transparent;
}
.cinema-block .cinema-inner .show-logo {
  border-right: 1px solid #dee2e6;
  margin: 0 -15px;
  height: 100%;
}
.cinema-block .cinema-inner .show-logo .nav-pills .nav-link {
  border-bottom: 1px solid #dee2e6;
  margin: 0 15px;
  border-radius: 0;
  background-color: transparent;
  padding: 20px 0;
  opacity: 0.5;
  position: relative;
  text-align: center;
}
.cinema-block .cinema-inner .show-logo .nav-pills .nav-link img {
  max-width: 50px;
}
.cinema-block .cinema-inner .show-logo .nav-pills .nav-link:hover {
  opacity: 1;
}
.cinema-block .cinema-inner .show-logo .nav-pills .nav-link.active {
  background-color: transparent;
  opacity: 1;
}
.cinema-block .cinema-inner .show-logo .nav-pills li:last-child .nav-link {
  border-bottom: none;
}
.cinema-block .cinema-inner .listmovie-content .theater-item {
  background-color: transform;
  border-bottom: 1px solid #dee2e6;
  padding: 20px 0;
  margin: 0 5px;
}
.cinema-block .cinema-inner .listmovie-content .theater-item .theater-text {
  font-size: 12px;
}
.cinema-block .cinema-inner .listmovie-content .theater-item .theater-text p {
  color: #ec7532;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 0;
}
.cinema-block .cinema-inner .listmovie-content .theater-item .theater-text span {
  color: #666565;
}
.cinema-block .cinema-inner .listmovie-content .theater-item .theater-text a {
  color: #ec7532;
  font-weight: 700;
}
.cinema-block .cinema-inner .listmovie-content .theater-item .theater-text a:hover {
  text-decoration: underline;
}
.cinema-block .cinema-inner .showtime-movie .showtime-movie-it {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 10px;
  padding-top: 22px;
}
.cinema-block .cinema-inner .showtime-movie .showtime-movie-it:last-child {
  border-bottom: none;
}
.cinema-block .cinema-inner .showtime-movie .movie-img {
  max-width: 12%;
  padding-left: 15px;
  margin-bottom: 10px;
}
.cinema-block .cinema-inner .showtime-movie .wrap-infor {
  max-width: 88%;
  margin-left: 10px;
}
.cinema-block .cinema-inner .showtime-movie .wrap-infor p {
  font-weight: bold;
  margin-bottom: 0;
}
.cinema-block .cinema-inner .showtime-movie .wrap-infor p .age {
  background-color: #ec7532;
  color: #ffffff;
  border-radius: 4px;
  margin-right: 5px;
  padding: 2px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.cinema-block .cinema-inner .showtime-movie .wrap-infor span {
  font-size: 12px;
  color: #9b9b9b;
}
.cinema-block .cinema-inner .showtime-movie .block-time {
  margin-left: 15px;
}
.cinema-block .cinema-inner .showtime-movie .block-time .time-movie {
  border: 1px solid #dee2e6;
  background-color: rgba(246, 246, 246, 0.5);
  border-radius: 7px;
  color: #9b9b9b;
  border: 1px solid #e4e4e4;
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 15px;
  text-align: center;
  display: block;
}
.cinema-block .cinema-inner .showtime-movie .block-time .time-movie p {
  color: #9b9b9b;
}
.cinema-block .cinema-inner .showtime-movie .block-time .time-movie p span {
  color: #ec7532;
  font-size: 18px;
  font-weight: 700;
}
.cinema-block .cinema-inner .showtime-movie .ttl {
  font-size: 16px;
  font-weight: bold;
}

.block-news {
  font-family: "Poppins", sans-serif;
  margin-bottom: 50px;
}
.block-news .nav-pills {
  justify-content: center;
  margin-bottom: 20px;
}
.block-news .block-news-img {
  margin-bottom: 15px;
}
.block-news .block-news-img .img-news {
  height: 300px;
}
.block-news .block-news-img .ttl {
  color: #000;
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
  margin-top: 5px;
}
.block-news .block-news-img .txt {
  font-size: 13px;
  margin-bottom: 10px;
}
.block-news .block-news-img .icon-comment {
  color: #000;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.block-news .block-news-img .icon-comment .fa-thumbs-up {
  margin-right: 5px;
}
.block-news .block-news-img .icon-comment img {
  height: 15px;
  margin-right: 5px;
  margin-left: 5px;
}
.block-news .block-new-col .col-news {
  margin-bottom: 10px;
}
.block-news .block-new-col .col-news::hover {
  color: #ec7532;
}
.block-news .block-new-col .col-news img {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.block-news .block-new-col .col-news .ttl {
  color: #000;
  width: calc(100% - 50px);
  font-size: 13px;
  padding-left: 5px;
  display: flex;
  align-items: center;
}
.block-news .btn-read-more {
  border: 1px solid #949494;
  color: #949494;
  padding: 7px 25px;
  text-align: center;
  outline: none;
}
.block-news .btn-read-more:hover {
  background-color: #fb4226;
  border-color: #fb4226;
  color: #fff;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
}

.footer {
  font-family: "Poppins", sans-serif;
}
.footer .footer-infor {
  background-color: #101010;
  color: #4a4a4a;
  padding: 50px 0;
}
.footer .footer-infor .ttl-4 {
  font-size: 16px;
  font-weight: 500;
  color: #ec7532;
  margin-bottom: 15px;
}
.footer .footer-infor p {
  font-size: 14px;
  font-weight: 700;
  color: #4a4a4a;
  display: flex;
  justify-content: space-between;
}
.footer .footer-infor p a {
  color: #4a4a4a;
  text-decoration: none;
}
.footer .footer-infor p a:hover {
  background: linear-gradient(90deg, #fbbd61, #ec7532);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer .footer-infor .col {
  margin-bottom: 10px;
}
.footer .footer-infor .col img {
  background: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.footer .footer-infor .social {
  text-align: center;
}
.footer .footer-infor .social a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
}
.footer .footer-infor .social img {
  height: 30px;
  width: auto;
}
.footer .f-infor-bottom {
  border-top: 1px solid #4a4a4a;
  padding-top: 20px;
  margin-top: 50px;
}
.footer .f-infor-bottom .ttl-4 {
  font-size: 16px;
  font-weight: 500;
  color: #ec7532;
  margin-bottom: 15px;
}
.footer .f-infor-bottom p {
  font-size: 13px;
  font-weight: 700;
  color: #949494;
  justify-content: start;
}

.backtop {
  position: fixed;
  right: 40px;
  bottom: 50px;
  z-index: 9999;
  cursor: pointer;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  visibility: hidden;
  opacity: 0;
}
.backtop .fa-angle-up {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: solid 2px #ec7532;
  color: #ec7532;
  font-size: 35px;
  line-height: 34px;
  text-align: center;
  height: 40px;
  width: 40px;
}

.eventbacktotop {
  opacity: 1;
  visibility: visible;
}

.sidebar-wrapper {
  background: #0b1d3f;
  border-right: 1px solid #dee2e6;
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
}
.sidebar-wrapper .sidebar-heading {
  padding: 5px;
  font-size: 1.2rem;
  margin-bottom: 25px;
}
.sidebar-wrapper .list-group {
  width: 15rem;
}
.sidebar-wrapper .list-group .nav-link {
  margin: 0 15px 10px;
  border: 1px solid #fff;
  color: #fff;
}
.sidebar-wrapper .list-group .nav-link:hover {
  border: 1px solid #ec7532;
}
.sidebar-wrapper .list-group .nav-link.active {
  background: #ec7532;
  border: 1px solid #ec7532;
}

.page-content-wrapper {
  min-width: 100vw;
}
.page-content-wrapper .navbar {
  padding: 0.5rem 0rem;
}
.page-content-wrapper .navbar-nav {
  margin-left: auto;
}
.page-content-wrapper .btn-toggle {
  padding: 0px;
}
.page-content-wrapper .btn-toggle:focus {
  box-shadow: none;
}

.v-pill-admin .table .inner-button {
  display: flex;
  flex-wrap: wrap;
}
.v-pill-admin .table .inner-button .btn {
  color: #ee671b;
  padding: 1px 10px;
  text-align: center;
  margin-right: 8px;
}
body.sb-sidenav-toggled .wrapper .sidebar-wrapper {
  margin-left: 0;
}

.sb-sidenav-toggled .page-content-wrapper {
  margin-left: 0;
}

.sb-sidenav-toggled .page-content-wrapper .navbar {
  width: 100%;
}

@media (min-width: 768px) {
  .sidebar-wrapper {
    margin-left: 0;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 241px;
  }

  .page-content-wrapper {
    min-width: 0;
    width: 100%;
    margin-left: 241px;
  }
  .page-content-wrapper .navbar {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 83%;
  }
  .page-content-wrapper .tab-content {
    margin-top: 90px;
  }
  .page-content-wrapper .header .user .logout {
    bottom: -46px;
  }
  .page-content-wrapper .header .navbar-collapse .nav-item .nav-link {
    padding: 7px 20px 10px;
  }
  .page-content-wrapper .header {
    position: relative;
  }

  body.sb-sidenav-toggled .wrapper .sidebar-wrapper {
    margin-left: -15rem;
  }
}
.inner-admin .modal-dialog {
  max-width: 1100px;
}
.inner-admin .modal-dialog .modal-header {
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  border-bottom: none;
}
.inner-admin .modal-dialog .modal-header .close {
  margin-left: 0;
  margin-right: 0;
}
.inner-admin .modal-dialog .modal-title {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 26px;
}
.inner-admin .modal-dialog .btn-item {
  display: block;
  margin: 20px auto 40px;
}
.inner-admin .modal-dialog .btn-item .btn {
  width: 150px;
  padding: 5px 10px;
}
.inner-admin .modal-dialog .btn-item .btn-back {
  background: #cfd0d2;
  border: 1px solid #cfd0d2;
  color: #000;
}
.inner-admin .modal-dialog .select-infor .ttl-2 {
  font-size: 26px;
  margin-bottom: 50px;
  text-align: center;
}
.inner-admin .modal-dialog .select-infor .table-show-infor {
  margin-top: 40px;
}
.inner-admin .modal-dialog .select-infor .table-show-infor thead th {
  border-bottom: none;
}
.inner-admin .user-header {
  margin-bottom: 30px;
}
.inner-admin .btn-add {
  background: #ec7532;
  border: 1px solid #ec7532;
  color: #fff;
}
.inner-admin .btn-submit {
  background: linear-gradient(to right, #fbbd61, #ec7532);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  padding: 10px 25px;
  color: #fff;
  font-weight: 600;
  display: block;
  margin: 35px auto 0;
}
.inner-admin .inner-add {
  margin-bottom: -15px;
}
.inner-admin .inner-add .search-form .btn-primary {
  background-color: #ec7532;
  border-color: #ec7532;
  border-radius: 0px 4px 4px 0;
}
.inner-admin .inner-add,
.inner-admin .user-header {
  margin-top: 20px;
}
.inner-admin .table-manageruser th {
  font-weight: 700;
  font-size: 16px;
  border-bottom: 1px solid #dee2e6;
  padding: 15px 10px;
}
.inner-admin .table-manageruser th:before {
  content: "";
  background-color: transparent !important;
}
.inner-admin .table-manageruser td {
  border-top: none;
  font-size: 15px;
  vertical-align: middle;
  padding: 15px 10px;
}

.inner-bg-user {
  background: url(../../../assets/images/bg-login.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}
.inner-bg-user .navbar {
  position: fixed;
  top: 0;
  left: 0;
}
.inner-bg-user .form-user {
  background: #fff;
  border: 1px solid #eee;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 500px;
  padding: 35px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.inner-bg-user .form-user .ttl {
  color: #ec7532;
  font-weight: 600;
  text-align: center;
}
.inner-bg-user .form-user .form-group {
  position: relative;
}
.inner-bg-user .form-user .form-group .form-label {
  color: #707070;
  margin-bottom: 0px;
  position: relative;
}
.inner-bg-user .form-user .form-group .form-label::before {
  content: "*";
  color: #f5222d;
  margin-right: 4px;
}
.inner-bg-user .form-user .form-group .user {
  color: #e9e9e9;
  position: absolute;
  right: 15px;
  top: 50%;
}
.inner-bg-user .form-user .form-group .form-control {
  border: none;
  border-bottom: 1px solid #c5cdc4;
  border-radius: 0;
  padding: 5px 30px 5px 10px;
}
.inner-bg-user .form-user .form-group .form-control:focus {
  box-shadow: none;
  border-bottom: 1px solid #ec7532;
}
.inner-bg-user .form-user .btnsubmit {
  background: #ec7532;
  border: 1px solid #ec7532;
  color: #fff;
  text-align: center;
  display: block;
  min-width: 180px;
  padding: 7px;
  margin: 25px auto 0;
}
.inner-bg-user .form-user .backhome {
  background: #fff;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right bottom, #fbbd61, #ec7532);
  text-align: center;
  padding: 7px;
  color: #707070;
  display: inline-block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  min-width: 180px;
  margin-top: 0;
}
.inner-bg-user .form-user .registernow {
  text-align: center;
}
.inner-bg-user .form-user .registernow p {
  margin-bottom: 20px;
  color: #707070;
}
.inner-bg-user .form-user .registernow p a {
  color: #ec7532;
  font-weight: 700;
}

.admin-main {
  padding-top: 30px;
}

.profile-admin {
  margin-bottom: 50px;
}
.profile-admin .nav-pills {
  border-bottom: 1px solid #dee2e6;
}
.profile-admin .nav-pills .nav-link {
  color: #000;
  margin-bottom: -1px;
  border: 1px solid transparent;
}
.profile-admin .nav-pills .nav-link.active {
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
  color: #ec7532;
}
.profile-admin thead {
  background: #f8f9fa;
}
.profile-admin thead th {
  border: 1px solid #dee2e6;
  border-bottom: none;
}
.profile-admin td {
  border: 1px solid #dee2e6;
}
.profile-admin .form-profile .inner-btn {
  display: block;
  margin: 20px auto 0;
}
.profile-admin .form-profile .inner-btn .btn-all-form {
  background: linear-gradient(to right, #fbbd61, #ec7532);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  padding: 7px 25px;
  color: #fff;
  font-weight: 600;
  width: 200px;
}

.sidebar-wrapper {
  background: #0b1d3f;
  border-right: 1px solid #dee2e6;
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
}
.sidebar-wrapper .sidebar-heading {
  padding: 5px;
  font-size: 1.2rem;
  margin-bottom: 25px;
}
.sidebar-wrapper .list-group {
  width: 15rem;
}
.sidebar-wrapper .list-group .nav-link {
  margin: 0 15px 10px;
  border: 1px solid #fff;
  color: #fff;
}
.sidebar-wrapper .list-group .nav-link:hover {
  border: 1px solid #ec7532;
}
.sidebar-wrapper .list-group .nav-link.active {
  background: #ec7532;
  border: 1px solid #ec7532;
}

.page-content-wrapper {
  min-width: 100vw;
}
.page-content-wrapper .navbar {
  padding: 0.5rem 0rem;
}
.page-content-wrapper .navbar-nav {
  margin-left: auto;
}
.page-content-wrapper .btn-toggle {
  padding: 0px;
}
.page-content-wrapper .btn-toggle:focus {
  box-shadow: none;
}

.v-pill-admin .table .inner-button {
  display: flex;
  flex-wrap: wrap;
}
.v-pill-admin .table .inner-button .btn {
  color: #ee671b;
  padding: 1px 10px;
  text-align: center;
  margin-right: 8px;
}
body.sb-sidenav-toggled .wrapper .sidebar-wrapper {
  margin-left: 0;
}

.sb-sidenav-toggled .page-content-wrapper {
  margin-left: 0;
}

.sb-sidenav-toggled .page-content-wrapper .navbar {
  width: 100%;
}

@media (min-width: 768px) {
  .sidebar-wrapper {
    margin-left: 0;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 241px;
  }

  .page-content-wrapper {
    min-width: 0;
    width: 100%;
    margin-left: 241px;
  }
  .page-content-wrapper .navbar {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 83%;
  }
  .page-content-wrapper .tab-content {
    margin-top: 90px;
  }
  .page-content-wrapper .header .user .logout {
    bottom: -46px;
  }
  .page-content-wrapper .header .navbar-collapse .nav-item .nav-link {
    padding: 7px 20px 10px;
  }
  .page-content-wrapper .header {
    position: relative;
  }

  body.sb-sidenav-toggled .wrapper .sidebar-wrapper {
    margin-left: -15rem;
  }
}
.inner-admin .modal-dialog {
  max-width: 1100px;
}
.inner-admin .modal-dialog .modal-header {
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  border-bottom: none;
}
.inner-admin .modal-dialog .modal-header .close {
  margin-left: 0;
  margin-right: 0;
}
.inner-admin .modal-dialog .modal-title {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 26px;
}
.inner-admin .modal-dialog .btn-item {
  display: block;
  margin: 20px auto 40px;
}
.inner-admin .modal-dialog .btn-item .btn {
  width: 150px;
  padding: 5px 10px;
}
.inner-admin .modal-dialog .btn-item .btn-back {
  background: #cfd0d2;
  border: 1px solid #cfd0d2;
  color: #000;
}
.inner-admin .modal-dialog .select-infor .ttl-2 {
  font-size: 26px;
  margin-bottom: 50px;
  text-align: center;
}
.inner-admin .modal-dialog .select-infor .table-show-infor {
  margin-top: 40px;
}
.inner-admin .modal-dialog .select-infor .table-show-infor thead th {
  border-bottom: none;
}
.inner-admin .user-header {
  margin-bottom: 30px;
}
.inner-admin .btn-add {
  background: #ec7532;
  border: 1px solid #ec7532;
  color: #fff;
}
.inner-admin .btn-submit {
  background: linear-gradient(to right, #fbbd61, #ec7532);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  padding: 10px 25px;
  color: #fff;
  font-weight: 600;
  display: block;
  margin: 35px auto 0;
}
.inner-admin .inner-add {
  margin-bottom: -15px;
}
.inner-admin .inner-add .search-form .btn-primary {
  background-color: #ec7532;
  border-color: #ec7532;
  border-radius: 0px 4px 4px 0;
}
.inner-admin .inner-add,
.inner-admin .user-header {
  margin-top: 20px;
}
.inner-admin .table-manageruser th {
  font-weight: 700;
  font-size: 16px;
  border-bottom: 1px solid #dee2e6;
  padding: 15px 10px;
}
.inner-admin .table-manageruser th:before {
  content: "";
  background-color: transparent !important;
}
.inner-admin .table-manageruser td {
  border-top: none;
  font-size: 15px;
  vertical-align: middle;
  padding: 15px 10px;
}

@media screen and (min-width: 992px) and (max-width: 1999px) {
  .search-home .form-search select {
    min-width: 200px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .block-news .block-news-img .img-news {
    height: 183px;
  }
}
@media screen and (min-width: 788px) and (max-width: 882px) {
  .listmovie .slick-prev,
.listmovie .slick-next {
    width: 30px;
    height: 30px;
    z-index: 999;
  }
  .listmovie .slick-prev:before,
.listmovie .slick-next:before {
    font-size: 35px;
  }
  .listmovie .slick-prev {
    left: -42px;
  }
  .listmovie .slick-next {
    right: -38px;
  }
}
@media screen and (max-width: 991px) {
  .search-home {
    display: none;
  }

  .listmovie {
    margin-top: 25px;
  }

  .logo-brand .row {
    flex-wrap: normal;
  }

  .footer .footer-infor .col {
    padding: 0 8px;
  }
}
@media screen and (max-width: 768px) {
  .slider-home .video-play-slider {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .slider-home .slick-dots {
    bottom: 25px;
  }

  .content-show .movie-item .movie-img img {
    height: 255px;
  }

  .listmovie .slick-prev,
.listmovie .slick-next {
    width: 30px;
    height: 30px;
    z-index: 999;
  }
  .listmovie .slick-prev:before,
.listmovie .slick-next:before {
    font-size: 35px;
  }
  .listmovie .slick-prev {
    left: -34px;
  }
  .listmovie .slick-next {
    right: -34px;
  }

  .listmovie .slick-list {
    margin: 0 -10px;
  }

  .listmovie {
    margin-bottom: 35px;
    padding: 0 50px;
  }

  .cinema-block .theater-img img {
    height: 80px;
    object-fit: cover;
  }
  .cinema-block .tab-content-bl {
    border-left: none;
  }
  .cinema-block .tab-content-bl.scroll-tab {
    height: 100%;
    max-height: 100%;
  }
  .cinema-block .sroll-tab {
    height: 100%;
    max-height: 100%;
  }
  .cinema-block .cinema-inner {
    margin-bottom: 35px;
  }
  .cinema-block .cinema-inner .col-11 {
    max-width: 100%;
    flex: 0 0 100%;
    overflow-y: auto;
    height: 700px;
  }
  .cinema-block .cinema-inner .showtime-movie .block-time .time-movie p span {
    font-size: 16px;
  }
  .cinema-block .cinema-inner .show-logo .nav-pills .nav-link {
    margin: 0 10px;
  }
  .cinema-block .cinema-inner .show-logo {
    border-bottom: 1px solid #dee2e6;
    border-right: none;
    margin: 0 0 0 -10px;
  }
  .cinema-block .cinema-inner .show-logo .nav-pills {
    justify-content: center;
  }
  .cinema-block .cinema-inner .show-logo .nav-pills .nav-link {
    border-bottom: none;
    padding: 10px 0;
  }
  .cinema-block .cinema-inner .show-logo .nav-pills .nav-link img {
    max-width: 40px;
  }
  .cinema-block .cinema-inner .showtime-movie .wrap-infor {
    max-width: 78%;
  }
  .cinema-block .cinema-inner .showtime-movie .wrap-infor p {
    font-size: 14px;
  }
  .cinema-block .cinema-inner .showtime-movie .movie-img {
    max-width: 18%;
  }

  .block-news {
    margin-bottom: 25px;
  }

  .btn-all.active {
    padding: 7px 10px;
  }

  .footer-inner {
    padding: 40px 0;
  }
  .footer-inner .footer-left {
    padding-top: 0;
  }
  .footer-inner .footer-left .ttl-2 {
    font-size: 25px;
  }

  .footer-infor {
    padding: 20px 0;
  }
  .footer-infor .block-footer,
.footer-infor .social {
    margin-bottom: 15px;
  }

  .nav-pills .nav-link {
    font-size: 14px;
  }

  .movie-dt-showtime {
    padding-bottom: 25px;
  }
  .movie-dt-showtime .cinema-block .cinema-inner .showtime-movie .movie-img {
    width: 70px;
  }
  .movie-dt-showtime .dayofweek {
    margin: 0 15px;
  }
  .movie-dt-showtime .review {
    max-width: 100%;
  }
  .movie-dt-showtime .cinema-block .show-logo .nav-link .cinema-name {
    display: none;
  }
  .movie-dt-showtime .cinema-block .show-logo .nav-pills {
    display: flex;
  }

  .chooseseat .chooseseat-buy .ttl-4 {
    font-size: 24px;
  }
  .chooseseat .chooseseat-buy .form-buy .btn-buy {
    margin-top: 40px;
  }
  .chooseseat .chooseseat-infor {
    margin-bottom: 30px;
  }
  .chooseseat .chooseseat-infor .bookseat {
    padding: 0;
  }

  .header .navbar-expand-lg {
    padding: 5px 15px;
  }
  .header .navbar-expand-lg .navbar-toggler {
    padding: 5px;
    border: 0;
  }
  .header .navbar-expand-lg .navbar-toggler .navbar-toggler-icon {
    width: 1.2em;
    height: 1.2em;
    vertical-align: super;
  }
  .header .navbar-brand img {
    width: 160px;
  }

  .slider-home {
    margin-top: 62px;
  }
}
@media screen and (max-width: 767px) {
  .block-new-col {
    margin: 0 15px;
  }

  .chooseseat .chooseseat-buy {
    position: relative;
  }
  .chooseseat .chooseseat-infor .infor-theater {
    display: block;
  }

  .footer .footer-infor .col {
    padding: 0 15px;
  }

  .inner-bg-user .form-user {
    padding: 20px;
    margin: 0 15px;
  }
}
@media screen and (max-width: 576px) {
  .cinema-block .cinema-inner .show-logo .nav-pills .nav-link {
    margin: 0 6px;
  }

  .block-news .block-news-img .img-news {
    height: auto;
  }

  .footer .footer-infor .col img {
    width: 40px;
  }

  .movie-dt-showtime .nav-tabs .nav-link {
    padding: 0 8px;
  }
}
@media screen and (max-width: 320px) {
  .cinema-block .cinema-inner .show-logo .nav-pills .nav-link {
    margin: 0 4px;
  }
}

/*# sourceMappingURL=style.css.map */
