// Button
@mixin button($width, $padding, $border, $radius, $bgColor) {
  width: $width;
  padding: $padding;
  border: $border;
  border-radius: $radius;
  background-color: $bgColor;
}

// Text
@mixin text($fs, $fw, $color) {
  font-size: $fs;
  font-weight: $fw;
  color: $color;
}

// Text Shorting
@mixin text-shorten($numLines: 1) {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  @supports (-webkit-line-clamp: $numLines) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: $numLines;
    -webkit-box-orient: vertical;
  }
}

// Position
@mixin position(
  $position: absolute,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null,
  $z-index: initial
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $z-index;
}

// FlexBox Toolkit
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-centerc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@mixin flex-center-ver {
  display: flex;
  align-items: center;
}
@mixin flex-center-horiz {
  display: flex;
  justify-content: center;
}
