// Page 404:
$color-black: #13242c;
$color-white: #fff;
$color-red-1: #d13433;
$color-red-2: #932422;
$color-skin-1: #eab08c;
$color-skin-2: #d9766c;
$color-skin-3: #b2524d;
$color-hair: #13242c;
$color-wood-1: #601513;
$color-wood-2: #410a09;

// Background color
$primary: #fff;
$secondary: #ec7532;
$hrprimary: #ebebec;

// Text color:
$cprimary: #000;
$csecondary: #069c06;
$cgray: #9b9b9b;
$corange: #ec7532;
$cblue: #2cccff;

//Font-weight
$bolder: 800;
$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400;
$light: 300;

// Font-size
$h1: 40px;
$h2: 32px;
$h3: 28px;
$h4: 25px;
$h5: 24px;
$h6: 20px;
$subtitle1: 18px;
$subtitle2: 16px;
$body1: 14px;
$body2: 12px;
